.display-grande{
    display: none;
}
.display-medio{
    display: none;
}
.display-peque{
    display: none;
}
.oculto {
    display: none !important;
}
* {
    box-sizing: border-box;
}
html{
    margin: 0%;
    padding: 0%;
    border: 0;
    width: 100%;
    font-family: georgian, serif;
    background-image: url(../img/background.jpg); /*imagen de fondo*/
    background-position: center center; /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-repeat: no-repeat; /* Para que la imagen de fondo no se repita */
    background-attachment: fixed; /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-size: cover; /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-color:transparent !important;
}
body {
    margin: 0;
    border: 0;
    padding: 0;
    max-width: 100%;
}
h1 {
    margin: 0;
    font-family: 'Metropolis Bold' ,sans-serif;
    font-size: 2.441em !important;
    color: #ff4040;
}
h2 {
    margin: 0;
    font-family: 'Metropolis Extra Bold', sans-serif;
    font-size: 1.953em !important;
    color: #FFFF;
}
h3 {
    margin: 0;
    font-family:'Metropolis Bold', sans-serif;
    font-size: 1.573em !important;
    color: #ffFFFF;
}
h4 {
    margin: 0;
    font-family:'Metropolis Bold', sans-serif;
    font-size: 1.357em !important;
    color: #ffffff;
}
h5 {
    margin: 0;
    font-family:'Metropolis Bold', sans-serif;
    font-size: 1.250em !important;
    color: #ffFFFF;
}
h6 {
    margin: 0;
    font-family: 'Metropolis Extra Bold', sans-serif;
    font-size: 1em !important;
    color: #ffffff;
}
p {
    font-family: 'Metropolis Light', sans-serif;
    font-size: 1em !important;
    color: #ffffff;
}
nav#nav_var_mg {
    box-shadow: 2px 0px #D9D9D6;
}
li.litit {
    text-align: center !important;
    margin: 0;
    font-family: 'Metropolis Extra Bold', sans-serif;
    font-size: 1em !important;
    color: #ff4040;
    margin-bottom: 1em;
}
li.litit ol {
    margin-top: 0.9em;
}
ol {
    padding-inline-start: 25px;
}
ol > li {
        font-family: 'Metropolis Light', sans-serif;
        font-size: 1em !important;
        color: #ffffff;
        text-align: left !important;
        margin-bottom: 0.3em !important;
        padding-right: 0.2em !important;
}
a {
    text-decoration: none;
}
header {
    width:100%;
    margin: 0;
    padding: 0;
}
nav {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
main {
    margin: 0;
    padding: 0;
}
    main h1 {
    text-align: center;
    }
aside {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    border: 0;
    padding: 0;
}
h1, h2, h3 {
    margin: 0;
    border: 0;
    padding: 0;
}
footer {
    width: 90%;
    padding: 30px 0 30px 5%;/*68 34*/
    margin: 0;
    border: 0;
    bottom: 0;
    clear: both;
}
footer p {
    display: inline-block;
    position: absolute;
}
p#page {
    right: 0;
    padding-right: 5%;
}
nav#var_nav_fija a {
    margin: 0;
    font-family:'Metropolis Regular', sans-serif;
    font-size: 1.250em !important;
    color: #ffffff;
}