.display-grande{
    display: none;
}
.display-medio{
    display: none;
}
.display-peque{
    display: none;
}
.oculto {
    display: none !important;
}
* {
    box-sizing: border-box;
}
html{
    margin: 0%;
    padding: 0%;
    border: 0;
    width: 100%;
    background-image: url(../img/background.jpg); /*imagen de fondo*/
    background-position: center center; /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-repeat: no-repeat; /* Para que la imagen de fondo no se repita */
    background-attachment: fixed; /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-size: cover; /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-color:transparent !important;
}
body {
    margin: 0;
    border: 0;
    padding: 0;
    max-width: 100%;
}
h1 {
    margin: 0;
    font-family: 'Metropolis Bold' ,sans-serif;
    font-size: 2.441em !important;
    color: #ffffff;
}
h2 {
    margin: 0;
    font-family: 'Metropolis Extra Bold', sans-serif;
    font-size: 1.953em !important;
    color: #ffffff;
}
h3 {
    margin: 0;
    font-family:'Metropolis Bold', sans-serif;
    font-size: 1.573em !important;
    color: #ffffff;
}
h4 {
    margin: 0;
    font-family:'Metropolis Bold', sans-serif;
    font-size: 1.357em !important;
    color: #ffffff;
}
h5 {
    margin: 0;
    font-family:'Metropolis Bold', sans-serif;
    font-size: 1.250em !important;
    color: #ffFFFF;
}
h6 {
    margin: 0;
    font-family: 'Metropolis Extra Bold', sans-serif;
    font-size: 1em !important;
    color: #ff4040;
}
p {
    font-family: 'Metropolis Light', sans-serif;
    font-size: 1em !important;
    color: #ffffff;
}
li {
    font-family: 'Metropolis Light', sans-serif;
    font-size: 1em !important;
    color: #ff4040;
}
a {
    text-decoration: none;
}
header {
    width:100%;
    margin: 0;
    padding: 0;
}
nav {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
main {
    margin: 0;
    padding: 0;
}
    main h1 {
        text-align: center;
    }
    div.giff {
        width: 280px !important;
        position: relative !important;
        margin: 0 !important;
    }
    main h4 {
        padding-bottom: 1em;
    }
    img.ImagenGif {
        position:absolute !important;
        top:35px !important;
        left:24px !important;
        border-radius: 20px !important;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
    }
    #descr {
        min-width: 20%;
    }
    article {
        padding-bottom: 1em;
    }
    /*---------------------*/
        ul.seleclist {
            display: block;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
            padding: 0.5em 0 0.5em 0;

            font-family: 'Metropolis Semi Bold', sans-serif;
            /*font-size: 1rem !important;*/
        }
        .seleclist li {
            /*padding: 0.5em 0.5em 0.5em 0.5em;*/
            cursor: pointer !important;

            background-color: #FF4040;
            text-align: center;
            padding: 0.75em 1.25em !important;
            -webkit-border-radius: 50px !important;
            -moz-border-radius: 50px !important;
            border-radius: 50px !important;
            font-size: 0.85rem !important;
            color: #ffffff !important;
            border: solid 1px #FF4040;
            -webkit-transition: background-color 1s;
            transition: background-color 1s;
            -webkit-transition: border 1s;
            transition: border 1s;
        }
            a.linkli {
                color: #ffffff !important;
                text-decoration: none !important;
            }
        /*---------------------*/
    main iframe {
        display: block;
        width: 90%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .artimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    article ol li img {
        display: block;
        width: 95%;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
    }
    article ol {
        list-style: lower-latin;
        padding-inline-start: 50px;
        margin: 0;
    }
    article ol li {
        width: 100% !important;
    }
aside {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    border: 0;
    padding: 0;
}
h1, h2, h3 {
    margin: 0;
    border: 0;
    padding: 0;
}
footer {
    width: 90%;
    padding: 30px 0 30px 5%;/*68 34*/
    margin: 0;
    border: 0;
    bottom: 0;
    clear: both !important;
    z-index: 0;
}
footer p {
    display: inline-block;
    position: absolute;
    z-index: 0;
}
p#page {
    right: 0;
    padding-right: 5%;
}
nav#var_nav_fija a {
    margin: 0;
    font-family:'Metropolis Regular', sans-serif;
    font-size: 1.250em;
    color: #ffffff;
}
span {
    color: #ff4040;
}
.zoom {
    transition: transform .5s;
}
.zoom:hover {
    transform: scale(1.5)
}
.centrado {
    text-align: center !important;
}