body {
    background-color: rgba(28, 31, 42, 0.9) !important;
    color: #ffffff;
}
li a {color: #ffffff;}

li a:hover, a:active {
    background-color: rgba(28, 31, 42, 0.9);
    border-bottom: 1px solid #ff4040;
}
.actived {
    background-color: rgba(28, 31, 42, 0.9);
    outline: 1px solid #ff4040;
} 
#dropDown:hover{
    background-color: rgba(28, 31, 42, 0.9);
}
p a {
    color: #ffffff;
}
ul#dropbtn {
    background-color: rgba(28, 31, 42, 0.9);
}
.seleclist li:hover, .seleclist li:active  {
    background-color: rgba(28, 31, 42, 0);
    border: solid 1px #ffffff;
}
    .linkli a.linklia {
        background-color: transparent !important;
        text-decoration: none !important;
        outline: none !important;
        border-bottom: 0 !important;
    }
ul#dropbtn > li {
    border-top: 2px solid rgba(28, 31, 42, 0.9);
}
ul#dropbtn li ul a {
    border-bottom: solid 1px #FFFFE6;
}
ul#dropbtn > li {
    border-top: 2px solid rgba(28, 31, 42, 0.9);
}
ul#web, ul#movil, ul#sol{
    border-top: 2px solid rgba(28, 31, 42, 0.9);
    border-left: 2px solid rgba(28, 31, 42, 0.9);
}
main a {
    color: #ff4040;
    text-decoration: underline;
}
#page a {
    color: #ff4040 !important;
}