body {
    background-color: rgba(28, 31, 42, 0.9);
    color: #FFFFE6;
}
/*nav {
    background-color: #e93b38 !important;
}*/
li a {color: #FFFFE6;}
nav#var_nav_fija ul {
    background-color: #e93b38;
}
li a:hover, a:active {
    background-color: rgba(28, 31, 42, 0.9);
}
.active {
    background-color: rgba(28, 31, 42, 0.9);
}
/*nav#var_nav_fija ul li {
    outline: 2px solid #FFFFE6;
}*/