.display-grande{
    display: inherit !important;
}
nav#var_nav_fija {
    display: block !important;
    height: 70px !important;
    margin-bottom: 30px;
}
nav#var_nav_fija img, nav#var_nav_fija ul#barraHor {
    float: left !important;
}
nav#var_nav_fija ul#barraHor {
    height: 66px !important;
}
nav#var_nav_fija li.mostrare {
    display: inline-block !important;
    line-height: 66px !important;
}
nav#var_nav_fija ul#barraHor li a {
    display: block;
    width: 100%;
}
nav#nav_var_mg, main, aside {
    float: left !important;
    display: block !important;
    z-index: 1;
}
nav#nav_var_mg {
    width: 23% !important;
    /*overflow-y: scroll !important;
    overflow-x: hidden !important;
    height: 100% !important;*/
}
main {
    width: 60% !important;
}
aside {
    width: 17% !important;
}