.display-peque{
    display: inherit !important;
}
body {
    font-size: 1.2em;
}
body > img {
    margin : auto;
    display: block;
}
nav {
    text-align: center;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
}
nav#var_nav_fija ul {
    text-align: center;
    overflow: hidden;
}
nav#var_nav_fija ul li {
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav#var_nav_fija ul li a {
    text-align: center;
    padding: 0.25em;
    margin: 0;
    display: block;
}
.ocultar {
    display: none;
}