.display-peque{
    display: inherit !important;
}
body {
    font-size: 1.2em
}
body > img {
    margin : auto;
    display: block;
}
nav {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    position: sticky;
    top: 0;
}
nav#var_nav_fija ul {
    display: inline-block;
    margin: auto;
    padding: 0;
    width: 100%;
    border-radius: 0.5em;
}
nav#var_nav_fija ul li {
    float: right;
    max-width: 100%;
    width: auto;
}
nav#var_nav_fija ul li a {
    border: 0;
    padding: 0.76em;
    margin: 0;
    display: block;
}